---
import Basehead from "../components/Basehead.astro";
import Fondo from "../components/Fondo.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construccion</title>
    <Basehead/>
</head>
<body>
    <Navbar/>
    <div class="grid grid-rows-3 grid-cols-2 mx-auto mt-32"> <!--Este es el grid cuidado -->
     <div class="w-full h-full flex justify-center ">
        <Fondo/>
        <a href="" class="z-0 my-6   flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg pl-2" src="marcar1.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">Marcar Y Cavar</h5>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">Marcar y cavar son pasos cruciales en la construcción de piscinas. Marcando el área según el diseño y cavando con precisión, se establece la base para una instalación exitosa. Este proceso garantiza que la piscina se ajuste perfectamente al espacio deseado, comenzando así el camino hacia un oasis acuático.       
                    </p>
                </div>
        </a>
     </div>
     <div class="w-full h-full flex justify-center ">
        <Fondo/>
        <a href="" class="z-0 my-6  flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg pl-2" src="ensamblar.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">Ensamblar e instalar el armazón</h5>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">Ensamblar e instalar el armazón es el siguiente paso crucial en la construcción de piscinas. Con habilidad y precisión, se monta la estructura según las especificaciones del diseño, asegurando una base sólida y estable. Este proceso es fundamental para garantizar la durabilidad y funcionalidad de la piscina, preparándola para recibir los siguientes pasos de instalación       
                    </p>
                </div>
        </a>
     </div>
     <div class="w-full h-full flex justify-center ">
        <Fondo/>
        <a href="" class="z-0 my-6 flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg pl-2" src="fondo1.1.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">Estabilizar el Fondo</h5>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">Estabilizar el fondo es esencial para garantizar la nivelación y resistencia adecuadas de la piscina. Mediante la compactación y nivelación del suelo, se crea una base sólida y uniforme. Este paso crucial asegura la estabilidad estructural y el correcto funcionamiento de la piscina, preparándola para recibir el revestimiento y completar el proyecto de construcción</p>
                </div>
        </a>
     </div>
     <div class="w-full h-full flex justify-center ">
        <Fondo/>
        <a href="" class="z-0 my-6 flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg pl-2" src="liner.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">Instalar el Liner</h5>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">Instalar el liner es una fase crítica en la construcción de piscinas. Con precisión y cuidado, se coloca el revestimiento sobre la estructura preparada, asegurando un ajuste perfecto y libre de arrugas. Este paso es fundamental para garantizar la estanqueidad y durabilidad de la piscina, creando un ambiente acuático seguro y atractivo.</p>
                </div>
        </a>
     </div>
     <div class="w-full h-full flex justify-center ">
        <Fondo/>
        <a href="" class="z-0 my-6 flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg pl-2" src="piscina5.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">Rodear la piscina con los brocales.</h5>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">Rodear la piscina con brocales es esencial para su acabado y seguridad. Con habilidad y atención al detalle, se instalan los brocales alrededor del borde de la piscina, proporcionando un borde sólido y estético. Este paso finaliza la construcción, creando un área segura y atractiva para disfrutar del agua y relajarse.</p>
                </div>
        </a>
     </div>
     <div class="w-full h-full flex justify-center ">
        <Fondo/>
        <a href="" class="z-0 my-6 flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg pl-2" src="mantencion.jpeg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">Decoración y Acondicionar su piscina</h5>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">La decoración y el acondicionamiento finalizan el proyecto de su piscina, agregando personalidad y comodidad. Con creatividad, se incorporan elementos decorativos como plantas, iluminación y muebles, creando un ambiente acogedor y elegante. Este paso transforma la piscina en un oasis de relajación y diversión para disfrutar en familia y con amigos.</p>
                </div>
        </a>
     </div>
    </div> <!--Este es el grid cuidado -->
<Footer/>
    
</body>
</html>