---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Basehead from "../components/Basehead.astro";
import Fondo from "../components/Fondo.astro"

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Basehead/>
	</head>
<Navbar/>
<Fondo/>

<body>
    <div class="my-24">
        <div class=" w-[80%] mx-auto">
    
            <div class="mx-auto mt-36">
                <h1 class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white">Te invitamos a descubrir nuestras piscinas,fruto de nuestra <span class="text-blue-600 dark:text-blue-500">dedicación y profesionalismo.</span></h1>
            </div>

        </div>
    </div>
    

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto w-[80%] ">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS1.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS3.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS4.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS5.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS6.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS7.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS8.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS9.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS10.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS11.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src="/PS12.jpg" alt="">
        </div>
    </div>
</div>
<Footer/>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>
</html>