---
import SpeedInsights from '@vercel/speed-insights/astro';

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun Summer</title>
    
</head>
<body class="bg-gradient-to-r from-[#0f172a] to-[#132a44]">



</body>
</html>