---
import Image from "astro/components/Image.astro"
import SpeedInsights from '@vercel/speed-insights/astro';

import historiafoto from "../assets/historiafoto.jpg"
---
<div class="w-full h-full flex justify-center ">
    <a href="nosotros" class="z-0 my-28 flex flex-col items-center bg-transparent border border-gray-200 rounded-xl shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <Image class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src={historiafoto} alt=""/>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">NUESTRA HISTORIA</h5>
            <p class="mb-3 font-normal text-white dark:text-gray-400">En 1992 nació la idea de crear un equipo cuyo propósito sería desarrollar competitivamente un alto estándar de calidad en construcción de piscinas.
                Obedeciendo a esta necesidad forme a Sun & Summer Piscinas con marca y sello propio, el cual fue creciendo con mucha dedicación, responsabilidad y sobretodo el respeto y transparencia hacia mis clientes.       
                </p>
        </div>
    </a>
</div>
<SpeedInsights />
